.partners-list {
  position: absolute;
  top: 590px;
  left: 80px;
}

.partners-list p {
  color: #31353B;
  font-size: 17px;
  font-family: 'Manrope',
  sans-serif;
}

.partners-list div {
  margin-top: 10px;
  display: flex;
  gap: 60px;
}