* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

section.main-container {
  height: calc(100vh - 70px);
}

.partial-bg {
  background-color: #BDCCFF;
  height: 650px;
  width: 402px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}